doctype html
html
  head
    title= title
  body
    <h1>External Page w/CORS Button</h1>
    <button class="button" onclick="window.location.href=`http://localhost:3000/comments?c=You%20got%20hacked!!`;">Go to Site</button>